# Logs
logs
*.log
BookSeeker_Backend/log/

# Enviroment File
BookSeeker_Backend/.env
BookSeeker_Backend/config/server_info.json

# Test File
BookSeeker_Backend/cluster/

# Dummy Data
BookSeeker_Backend/data/

#node_modules
# Enviroment File
BookSeeker_Backend/node_modules/

# Folder
BookSeeker_Backend_Django/