# Logs
logs
*.log
BookSeeker_Backend/log/

# Enviroment File
BookSeeker_Backend/.env
BookSeeker_Backend/config/server_info.json

#node_modules
# Enviroment File
BookSeeker_Backend/node_modules/

# Folder
BookSeeker_Backend_Django/